.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.section__wvoe {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-row-gap: 16px;
  align-content: flex-start;
  justify-items: center;
  background: #0ca3da;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 32px 0px;
}
.section__wvoe > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__wvoe > * {
    grid-column: 4;
  }
}
.freeBox__arDxZ {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__arDxZ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__arDxZ > :global(.__wab_flex-container) > *,
.freeBox__arDxZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__arDxZ > :global(.__wab_flex-container) > picture > img,
.freeBox__arDxZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.link__dt7Pi {
  position: relative;
  display: flex;
  background: #ffffff;
  border-radius: 24px;
  padding: 24px;
}
.svg__cYeH0 {
  object-fit: cover;
  max-width: 100%;
  width: 42px;
  height: 42px;
  color: #000000;
  flex-shrink: 0;
}
.link__v2Gyy {
  position: relative;
  display: flex;
  background: #ffffff;
  border-radius: 24px;
  padding: 24px;
}
.svg___7EhFh {
  object-fit: cover;
  max-width: 100%;
  width: 42px;
  height: 42px;
  color: #000000;
  flex-shrink: 0;
}
.h1___0L8MA {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 32px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.img__h5Qog {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__h5Qog > picture > img {
  object-fit: cover;
}
.section__cImZo {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-row-gap: 16px;
  align-content: flex-start;
  justify-items: center;
  background: #ffffff;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 96px 0px;
}
.section__cImZo > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__cImZo > * {
    grid-column: 4;
  }
}
.h1__ssm7C {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 32px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.columns__omBth {
  --plsmc-rc-col-gap: 0px;
}
.columns__omBth {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__omBth > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__omBth > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__omBth {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__omBth > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___3WnO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__meg9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__meg9 > picture > img {
  object-fit: cover;
}
.column__qeEn3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__qeEn3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__qeEn3 > :global(.__wab_flex-container) > *,
.column__qeEn3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__qeEn3 > :global(.__wab_flex-container) > picture > img,
.column__qeEn3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h1__uqTmj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h3__n0Ju {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.section__c263B {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-row-gap: 16px;
  align-content: flex-start;
  justify-items: center;
  background: #ffb349;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 96px 0px;
}
.section__c263B > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__c263B > * {
    grid-column: 4;
  }
}
.h1__awfzz {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 32px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.columns__lxhcp {
  --plsmc-rc-col-gap: 0px;
}
.columns__lxhcp {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__lxhcp > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__lxhcp > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lxhcp {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lxhcp > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__g58Ld {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.img__pisbT {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__pisbT > picture > img {
  object-fit: cover;
}
.column__uxrdd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__uxrdd > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__uxrdd > :global(.__wab_flex-container) > *,
.column__uxrdd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__uxrdd > :global(.__wab_flex-container) > picture > img,
.column__uxrdd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h3__cKgn1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.section__gitJj {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-row-gap: 16px;
  align-content: flex-start;
  justify-items: center;
  background: #000000;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 96px 0px;
}
.section__gitJj > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__gitJj > * {
    grid-column: 4;
  }
}
.h1__fat6Q {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 32px;
  text-align: center;
  color: #ffffff;
  min-width: 0;
}
.freeBox__x0LM {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__x0LM > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__x0LM > :global(.__wab_flex-container) > *,
.freeBox__x0LM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x0LM > :global(.__wab_flex-container) > picture > img,
.freeBox__x0LM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.link__okis0 {
  position: relative;
  display: flex;
}
.svg__lnXGf {
  object-fit: cover;
  max-width: 100%;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
}
.link__etevi {
  position: relative;
  display: flex;
}
.svg__a6YF {
  object-fit: cover;
  max-width: 100%;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
}
